@import url('https://fonts.googleapis.com/css2?family=Popins:wght@500;600;7006display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    background-color: #f1faff;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 968px;
    margin: auto;
}
.section{
    padding: 4rem 0 2rem;
}

.section_title{
    font-size: 2.5rem; 
    color: #454343;
    text-align: center;
    margin-bottom: 1.5rem;
}
.section_height{
    height: 100vh;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    transition: 0.4s;
}
.nav{
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_logo{
    color: #454343;
    font-weight: 700;
    font-size: 1.25rem;
    float: left;
    margin: 10px 10px;
}
.nav_name{
    font-weight: 600;
}
.nav_icon{
    font-size: 1.6rem;
}
.nav_iconi{
    font-size: 2rem;
}
.nav_list, .nav_link{
    display: flex;
}

.nav_list{
    justify-content: space-around;
    column-gap: 3rem;
}

.nav_link{
    flex-direction: column;
    align-items: center;
    color: #454343;
    row-gap: 0.25rem;
} 
.nav_link:hover{
    color: #5b75ad;
}
i.nav_icon{
    display: none;
}
i.nav_iconi{
    display: none;
}
.active_link{
    position: relative;
    color: #5b75ad;
    transition: 0.3s;
}
.logo_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid orangered;
    left: 10px;
}
.logo_img img{
    width: 96%;
    height: 96%;
    margin: 2% 1.8%;
    border-radius: 50%;
}
.set{
    border-radius: 15%;
    border: 2px solid orangered;
}
.set img{
    border-radius: 15%;
}
.profile{
    position: fixed;
    right: -100%;
    width: 370px;
    background: #fff;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
    z-index: 100;
    height: 90vh;
    top: 0;
}
.profile.active{
    right: 0;

}
.back_img{
    float: left;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
}
.back_img i{
    margin: 4px 0px;
    font-size: 23px;
}
.for_profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.hr{
    width: 100%;
}
.menu a{
    width: 100%;
    font-size: 1rem;
    color: #000;
    display: flex;
    align-items: center;  
    line-height: 40px;
    margin: 0px 20px;
}
.menu a:hover,.menu .active{
    color: #e2336b;
}
.menu .icon{
    margin-right: 1rem;
    font-size: 20px;
}
.menu a:hover::before, .menu .active::before{
    content: '';
    position: absolute;
    right: 0;
    width: 2px;
    height: 17px;
    background: #e2336b;
}
.persone{
    width: 90%;
    margin: 2% 5%;
    height: 85vh;
    border: 1px solid red;
}
.orta{
    width: 98%;
    height: 80vh;
    margin: 1% 1%;
    /* border: 5px solid red; */
}
.trading{
    width: 65%;
    height: 75vh;
    margin: 10px 0.5%;
    border: 2px solid black;
    float: left;
}
.boshqaruv{
    width: 32%;
    height: 74vh;
    margin: 10px 1%;
    border-top: 2px solid rgb(7, 246, 39);
    border-right: 2px solid rgb(7, 246, 39);
    border-bottom: 2px solid rgb(237, 38, 38);
    border-left: 2px solid rgb(237, 38, 38);
    border-radius: 10px;
    float: left;
}
.savdo{
    width: 100%;
    height: 130px;
    /* border: 1px solid black; */
}
.savdo button{
    border-radius: 25px;
    font-size: 25px;
    height: 40px;
    width: 47%;
    color: #FFF;
    margin: 5px 1%;   
}
.btn{
    height: 40%;
    bottom: 0;
    left: 0;
}
.buy{
    background-color: green;
}
.sel{
    background-color: red;
}
.inst{
    width: 96%;
    height: 20px;
    margin: 5px 2%;
    text-align: center;
    font-size: 25px;
}
.ochish{
    width: 96%;
    margin: 10px 2%;
    border-top: 1px solid rgb(7, 246, 39);
    border-right: 1px solid rgb(7, 246, 39);
    border-bottom: 1px solid rgb(237, 38, 38);
    border-left: 1px solid rgb(237, 38, 38);
    height: 60vh;
    padding: 2% 2%;
    justify-content: end;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
}
.ochish p{
    width: 50%;
    height: 22px;
    font-size: 20px;
    text-align: left;
    float: left;
    text-transform: capitalize;
    margin-top: 10px;
}
.ochish input{
    width: 50%;
    height: 22px;
    margin: 10px 0;
}
.ochish select{
    width: 50%;
    height: 22px;
    margin: 10px 0;
}
.ran{
    width: 50%;
    border: 2px solid red;
    height: 40px;
}
.foiz{
    width: 50%;
    margin-left: 50%;
    margin-top: -13px;
    height: 15px;
}
.foiz img{
    width: 100%;
    height: 100%;
}







@media screen and (min-width: 769px){
    .active_link::before{
        content: '';
        position: absolute;
        bottom: -0.4rem;
        width: 1rem;
        height: 3px;
        background-color: #5b75ad;
        border-radius: 3px;
    }
}
@media screen and (max-width: 992px){
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .trading{
        width: 52%;
    }
    .boshqaruv{
        width: 45%;
    }
}
@media screen and (max-width: 768px){
    .nav_menu{
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #fff;
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius:  1.25rem 1.25rem 0 0;
        transition: .4s;
        box-shadow: 0 -1px 12px rgba(59, 59, 59, 0.25);
    }
    .nav{
        height: 3rem;
    }
    i.nav_icon{
        display: block;
    }
    i.nav_iconi{
        display: block;
    }
    .section_title{
        font-size: 1.5rem;
    }
    .profile{
        right: 150%;
        width: 96%;
        margin: 0 2%;
        top: 0;
    }
    .trading{
        width: 98%;
        height: 50vh;
    }
    .boshqaruv{
        width: 95%;
        margin: 1% 2.5%;
    }
    .boshqaruv{
        height: 86%;
    }
}

